body{
font-family: Arial, Helvetica, sans-serif;
background-color: gainsboro;
}

header{
     border: 1px solid #000000; 
    margin: 10px; 
    padding: 10px;
background-color: white;


}

#cim{
    text-align: center;
font-size: xx-large;
}

#linkek1{
font-size: larger;
color: black;
display: inline;
margin: 0 10px;

list-style-type: none;
    
}


#nav{

    background-color: white;
    padding: 5px; 
border: 1px solid black;
border-radius: 1px;


}

#link{
    color: black;
}

footer{
    text-align: center;
    font-size: small;
}